@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Surfbords</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to worlds best surfboard renting shop </h2>
        <p>
            Next level Surfboard.
        </p>
    </div>
    <div class="col-md-4">
        <h2>We have the best surfboards in the planet</h2>
        <p>You can rent some of the best surfboard in our shop.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>See our facebook</h2>
        <p>Download our app in appstore.</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">See project source code &raquo;</a></p>
    </div>
</div>