@model SurfBoardsv2.Models.Rent


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Rent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (Model != null && Model.SurfBoardModelName != null)
        {
            <p>Selected board: @Model.SurfBoardModelName</p>
        }
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RentPickDate" class="control-label"></label>
                <input asp-for="RentPickDate" class="form-control" type="date"/>
                <span asp-validation-for="RentPickDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentDropDate" class="control-label"></label>
                <input asp-for="RentDropDate" class="form-control" type="date"/>
                <span asp-validation-for="RentDropDate" class="text-danger"></span>
            </div>

            <button id="rent-surfboard-button" type="submit" asp-action="Confirmation" asp-controller="Rents" class="w-100 btn btn-lg btn-primary">Rent</button>
            
            <script>
                document.getElementById('rent-surfboard-button').onclick = function() {
                    return confirm('Are you sure you want to rent this board?');
                }
            </script>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Boards">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
