@model SurfBoardsv2.Models.Rent

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Rent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RentPickDate" class="control-label"></label>
                <input asp-for="RentPickDate" class="form-control" />
                <span asp-validation-for="RentPickDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentDropDate" class="control-label"></label>
                <input asp-for="RentDropDate" class="form-control" />
                <span asp-validation-for="RentDropDate" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="RentedBoard.Name" class="control-label"></label>
                <input asp-for="RentedBoard.Name" class="form-control" />
                <span asp-validation-for="RentedBoard.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoardRenter" class="control-label"></label>
                <input asp-for="BoardRenter" class="form-control" />
                <span asp-validation-for="BoardRenter" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
