@model SurfBoardsv2.Models.Rent
@using SurfBoardsv2.Controllers
@{
    
    ViewData["Title"] = "Rent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="row">
        @using(Html.BeginForm("Save","Rent",FormMethod.Post, new{id = "popupform"})){

            <div>
                <h1>SurfboardUdlejning</h1>
            </div>

            <div class="form-group">
                <label class="form-label">Surf Model </label>
            <select class="form-control" id="carno" name="carno" placeholder="carno" required>
                <option>Plz select</option>
            </select>
            </div>

        <div class="form-group">
            <label class="form-label">CustomerID </label>
            <input type="text" id="custid" name="custid" class="form-control" placeholder="CustID" required>
            

        </div>

        <div class="form-group">
            <label class="form-label">Customer Name </label>
            <input type="text" id="custid" name="custname" class="form-control" placeholder="CustName" required>


        </div>
        <div class="form-group">
            <label class="form-label">Rental </label>
            <input type="text" id="custid" name="Rental" class="form-control" placeholder="Rental" required>


        </div>
        <div class="form-group">
            <label class="form-label">Start Date </label>
            <input type="date" id="sdate" name="sdate" class="form-control" placeholder="Rental" required>


        </div>

        <div class="form-group">
            <label class="form-label">End date </label>
            <input type="date" id="edate" name="edate" class="form-control" placeholder="Rental" required>


        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-success"/>
            </div>
        }
        </div>
@section scripts{

    <script>
        GetBoard();
        function GetBoard(){
            $.ajax({
                type: 'GET',
                URL:'rent/GetBoard',
                datatype: 'JSON',
                succes: funtion(data){
                    console.log(data);

                    for(var i = 0; i<data.lengt; i++){
                        $("#carno").append($("<option/>",{
                            text: Data[i].carno
                        }))
                    }

                }
            })
        }
    </script>
} 
  

            
                      
                      
            
          
        